<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%block title2%}{%endblock title2%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Xamlysis | {% block title %}{% endblock title %} </title>
  </head>
  <body >
  <nav class="navbar navbar-expand-lg navbar-dark py-0 " style="background-color: #000000;">
  <a class="navbar-brand" href="#">
    <img src="/static/img/logo.png" width="180" height="70" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"style="font-size:20px";>
        <a class="nav-link px-4" href="/">Home<span class="sr-only">(current)</sp></span></a>
      </li>
   <!--   <li class="nav-item active"style="font-size:20px";>
        <a class="nav-link px-4" href="/about"><span>About Us</span></a>
      </li>-->

      <!--
      <span class="badge badge-pill badge-primary">
      <li class="nav-item active"style="font-size:20px";>
        <a class="nav-link px-4" href="/about"><span>Help!</span></a>
      </li></span>-->

      {% if user.is_authenticated %}
      <span class="badge badge-pill badge-primary">
      <li class="nav-item active"style="font-size:20px";>
        <a class="nav-link px-4" href="/stu_home/"><span>DASHBOARD</span></a>
      </li></span>
      {%endif%}
      
      {% if user.is_authenticated %}
   <!-- <li class="nav-item active" style="font-size:20px" ;="">
        <a class="nav-link px-4" href="/course_select"><span>Courses</span></a>
      </li>
      <li class="nav-item active" style="font-size:20px" ;="">
        <a class="nav-link px-4" href="/class_select/"><span>Class</span></a>
      </li>-->
      {% else %}
      <li class="nav-item dropdown active"style="font-size:20px";>
        <a class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign Up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/temp_sign_up">Student Signup</a>
          <a class="dropdown-item" href="/temp_sign_up">Teacher Signup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/login">Login</a>
        </div>
      </li>
      {% endif %}
    </ul>
   <!-- <ul >
      <li class="nav-item" style="list-style-type: none;font-size:25px";>
        <a class="nav-link" href="/login"><b>Login</b></a>
      </li>
    </ul>
    <ul>
      <li class="nav-item" style="list-style-type: none;font-size:25px";>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
      </li>
    </ul>-->


    
      {% if user.is_authenticated %}
      <ul>
      <li class="nav-item" style="list-style-type: none;font-size:25px";>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
      </li>
      </ul>
      <ul>
      <li class="nav-item" style="list-style-type: none;font-size:25px";>
        <a class="nav-link" href="#">Welcome, {{user.username}}</a>
      </li></ul>

      {% else %}

      <li class="nav-item" style="list-style-type: none;font-size:25px";>
        <a class="nav-link" href="/login"><b>Login</b></a>
      </li>

      {% endif %}
    
    
    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>


{% block body%}
<table align="center"><tr></tr></table>
{% endblock body%}
<br><br><br><br><br>

  <!-- Footer -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<footer class="page-footer font-small" style ="background-color: rgb(3, 3, 3);">
  <!-- unique-color-dark-->

    <div style="background-color :rgb(4, 4, 53);">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0" style="color: white;">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2Fpeople%2FRahul-Shrestha%2F100055671382356%2F" class="fb-ic">
                <i class="fa fa-facebook white-text mr-4"> </i>
            </a>
            
            <!-- Twitter -->
            <a  href="" class="tw-ic">
              <i class="fa fa-twitter white-text mr-4" > </i>
            </a>
            <!-- Google +-->
            <a  href="www.google.com" class="gplus-ic">
              <i class="fa fa-google white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a  href="" class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a  href="https://www.instagram.com/suhani_bajpai_4/" class="ins-ic">
             <i class="fa fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5" >
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content  <hr  style="width: 60px ; color :white"> class="d-inline-block mx-auto" deep-purple accent-2 mb-4 mt-0  -->
          <h6 class="text-uppercase font-weight-bold" style="color: white;">Xamlysis</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="color: white;">Online Examination Portal that helps the Examiners to conduct the exams smoothly. 
            It also helps the Students to Assess themselves from the Comfort of their Home. </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white;" >Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!">MDBootstrap</a>
          </p>
          <p>
            <a href="#!">MDWordPress</a>
          </p>
          <p>
            <a href="#!">BrandFlow</a>
          </p>
          <p>
            <a href="#!">Bootstrap Angular</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" >
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white;">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/temp_sign_up">Sign Up</a>
          </p>
          <p>
            <a href="/about">Help</a>
          </p>
          <p>
            <a href="/about">About Us</a>
          </p>
          <p>
            <a href="/login">Login</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: white;">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p style="color: white;">
            <i class="fa fa-home mr-3"></i>INDIA</p>
          <p style="color: white;">
            <i class="fa fa-envelope mr-3"></i> xyz@example.com</p>
          <p style="color: white;">
            <i class="fa fa-phone mr-3"></i> 999 999 9999 </p>
          <p style="color: white;">
            <i class="fa fa-whatsapp mr-3"></i> 999 999 9999</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style = "color: white;">© 2021 Copyright:
      <a href="/">Xamlysis</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

<!--background="/static/img/cool-background.png"-->