<!DOCTYPE html>
<html lang="en">
<head>
  <title>Django CRUD Operations</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>
<body>
<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
		<th>role</th>
      </tr>
    </thead>
    <tbody>
	{% for stud in xx %}  
      <tr>
        <td>{{stud.course_id}}</td>
        <td>{{stud.course_name}}</td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>
</body>
</html>