<html>
    <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%block title2%}{%endblock title2%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>
            XAMLYSIS | ANSWERS
        </title>
        
<style>
  div.ex3 {
background-color: white;
width: 100%;
height: 200px;
overflow-y: scroll;
}
</style>
    </head>

    <body>        
        {% load static %}




        <table class="table" style="text-align:center">
          <thead class="thead-light">
            <tr>
              <th scope="col" >EXAM DETAILS</th>
            </tr>
          </thead>
        </table>
        <div class="ex3">
          <table class="table" style="text-align:center">
            <thead class="thead-dark">
              <tr>
                <th scope="col" style="width:10%">EXAM TITLE</th>
                <th scope="col" style="width:10%">DATE</th>
                <th scope="col" style="width:10%">DURATION</th>
                <th scope="col" style="width:10%">NO OF QUES</th>
                <th scope="col" style="width:10%">MAXIMUM MARKS</th>
                <th scope="col" style="width:10%">MAX MARKS </th>
                <th scope="col" style="width:10%">MIN MARKS</th>
                <th scope="col" style="width:10%">AVERAGE</th>
                <th scope="col" style="width:10%">MARKS SCORED</th>
                <th scope="col" style="width:10%">PERCENTAGE</th>
              </tr>
            </thead>
            <tbody>
            <!--
              now here we will get informations from exam schedule table and using for loop will add datas for all columns and also link with the respetive test 
            -->
              <tr>
                <td>{{ed.exam_title}}</td>
                <td>{{ed.date}}</td>
                <td>{{ed.duration}}</td>
                <td>{{ed.no_of_ques}}</td>
                <td>{{ed.max_marks}}</td>
                <td>{{data.0.max}}</td>
                <td>{{data.0.min}}</td>
                <td>{{data.0.avg}}</td>
                <td>{{score.scored_marks}}</td>
                <td>{{score.percentage}}</td>
              </tr>
            </tbody>
          </table>
          </div>
      
      
      
 









          <br><br>

          <table class="table" align="center" style="text-align:center; width:50%">
            <tr>
              <th scope="col" >
                <div class="card" >
                  <form action="/add_notes/" method="get">
                    <button type="submit" name="notes" value={{ed.exam_code}} style="width: 100%;background-color:white ;border-radius: 5px 100px 0 0;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
                      ADD NOTES
                  </button>
                  </form>
                </a>
                </div>
              </th>
            </tr>
        
            <tr>
              <th scope="col" >
                <div class="card" >
                  <form action="/query_page/" method="get">
                    <button type="submit" name="query" value={{ed.exam_code}} style="width: 100%;background-color:white ;border-radius: 5px 100px 0 0;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
                  WRITE QUERY TO THE TEACHER
                  </button>
                  </form>
                </a>
                </div>
              </th>
            </tr>
        
            
        </table>
        
        <br><br>

     
      
        <table class="table" style="text-align:center" align="center">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="font-size:larger" >QUESTIONS</th>
            </tr>
          </thead>
        </table>
        
        
      






<div class="container ">  


<br><br>
 <form method='post' action='/returner/' >
    {% csrf_token %}
    {% for q  in questions%}

    <div class="card" style="width: 100%;border-radius: 5px 100px 0 0;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)">
      <div class="card-header">
      <label for="ques" style="font-size:150%;background-color:white">{{q.ques}}</label>
      </div>
      </div>
    <div class="card" style="width: 100%;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)" >   
      <div class="card-body">
        <div>
            <label style="font-size:125%;">
               i) {{q.opt1}}
            </label>
        </div>
        <div>
            <label  style="font-size:125%;">
               ii)  {{q.opt2}}
            </label>
        </div>
        <div>
            <label style="font-size:125%;">
               iii) {{q.opt3}}
            </label>
        </div>
        <div >
            <label style="font-size:125%;">
               iv) {{q.opt4}}
            </label>
        </div>
        <br><br>
        <div >
          <label style="font-size:125%;">
                Option Marked - {{q.option_marked}}
          </label>
      </div>
        <div>
        <label style="font-size:125%">Correct Ans -{{q.correct}}</label>
        </div>
      
      <br>
      <div>
        <label style="font-size:125%">Marks Obtained:-{{q.marks_obt}}</label>
      </div>
        <div>
        <label style="font-size:125%">Marks of the Question:-{{q.marks}}</label>
        </div>
      </div>
    </div>
    <br><br>
    {% endfor %}
    <br>
    <div align="center"><button type="submit" class="btn btn-primary" style="background-color: black;border-radius: 12px;font-size: 15px;color: #0044cc;width: 100px;padding: 10px 20px;border: 2px solid #003399;">Return</button></div> 
  </form>
</div>
        <br>








        <table class="table" style="text-align:center">
          <thead class="thead-light">
            <tr>
              <th scope="col" >NOTES</th>
            </tr>
          </thead>
        </table>
        <div class="ex3">
          <table class="table" style="text-align:center">
            <thead class="thead-dark">
              <tr>
                <th scope="col" style="width:20%">EXAM</th>
                <th scope="col" style="width:80%">NOTES</th>
              </tr>
            </thead>
            <tbody>
            <!--
              now here we will get informations from exam schedule table and using for loop will add datas for all columns and also link with the respetive test 
            -->
            {%for n in notes%}
              <tr>
                <td>{{n.exam_code}}</td>
                <td>{{n.notes}}</td>
              </tr>
            {%endfor%}
            </tbody>
          </table>
          </div>
        
        


       
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
