[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

asgiref = "==3.4.1"
attrs = "==21.2.0"
autobahn = "==21.3.1"
automat = "==20.2.0"
certifi = "==2021.5.30"
cffi = "==1.14.6"
channels = "==3.0.4"
charset-normalizer = "==2.0.4"
constantly = "==15.1.0"
consumers = "==0.6.1"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
cryptography = "==3.4.7"
daphne = "==3.0.2"
dj-database-url = "==0.5.0"
django-cors-headers = "==3.7.0"
django-heroku = "==0.3.1"
djangorestframework = "==3.12.4"
drf-yasg = "==1.20.0"
gunicorn = "==20.1.0"
hyperlink = "==21.0.0"
idna = "==3.2"
incremental = "==21.3.0"
inflection = "==0.5.1"
itypes = "==1.2.0"
mysqlclient = "==2.0.3"
psycopg2 = "==2.9.1"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycparser = "==2.20"
pyparsing = "==2.4.7"
python-decouple = "==3.4"
pytz = "==2021.1"
requests = "==2.26.0"
"ruamel.yaml" = "==0.17.10"
"ruamel.yaml.clib" = "==0.2.6"
service-identity = "==21.1.0"
six = "==1.16.0"
sqlparse = "==0.4.1"
twisted = "==21.7.0"
txaio = "==21.2.1"
typing-extensions = "==3.10.0.0"
uritemplate = "==3.0.1"
urllib3 = "==1.26.6"
whitenoise = "==5.3.0"
"zope.interface" = "==5.4.0"
Django = "==3.2.6"
Jinja2 = "==3.0.1"
MarkupSafe = "==2.0.1"
Pillow = "==8.3.1"
pyOpenSSL = "==20.0.1"

[dev-packages]

[requires]
python_version = "3.9"
